<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::system">
                    <resource id="Magento_Backend::tools">
                        <resource id="Swissup_Marketplace::index" title="Marketplace" sortOrder="21">
                            <resource id="Swissup_Marketplace::settings_save" title="Manage Marketplace Settings" sortOrder="5"/>
                            <resource id="Swissup_Marketplace::package_index" title="View Modules and Themes" sortOrder="10"/>
                            <resource id="Swissup_Marketplace::package_manage" title="Manage Modules and Themes" sortOrder="30"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
