<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Swissup\Marketplace\Model\Channel\Magento"
                 type="Swissup\Marketplace\Model\Channel\Composer">
        <arguments>
            <argument name="title" xsi:type="string">Magento Marketplace</argument>
            <argument name="url" xsi:type="string">https://repo.magento.com/</argument>
            <argument name="hostname" xsi:type="string">repo.magento.com</argument>
            <argument name="identifier" xsi:type="string">magento</argument>
            <argument name="data" xsi:type="array">
                <item name="authType" xsi:type="string">http-basic</item>
                <item name="authNotice" xsi:type="string"><![CDATA[Get your credentials at <a href="https://marketplace.magento.com/customer/accessKeys/" title="Access Keys">marketplace.magento.com</a>]]></item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Swissup\Marketplace\Model\Channel\Swissup"
                 type="Swissup\Marketplace\Model\Channel\DomainAsUsername">
        <arguments>
            <argument name="title" xsi:type="string">Swissup, Argento, and Firecheckout</argument>
            <argument name="url" xsi:type="string">https://ci.swissuplabs.com/api/packages.json</argument>
            <argument name="hostname" xsi:type="string">ci.swissuplabs.com</argument>
            <argument name="identifier" xsi:type="string">swissuplabs</argument>
            <argument name="data" xsi:type="array">
                <item name="publicUrl" xsi:type="string">https://docs.swissuplabs.com/packages/</item>
                <item name="authType" xsi:type="string">http-basic</item>
                <item name="authNotice" xsi:type="string"><![CDATA[1. Navigate to your account ("Activation Information" section) on the site where you've made a purchase.<br/>2. Activate domain from the field above.<br/>3. Copy your access key and paste it here.]]></item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Swissup\Marketplace\Model\ChannelRepository">
        <arguments>
            <argument name="channels" xsi:type="array">
                <item name="magento" xsi:type="object">Swissup\Marketplace\Model\Channel\Magento</item>
                <item name="swissup" xsi:type="object">Swissup\Marketplace\Model\Channel\Swissup</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Swissup\Marketplace\Ui\DataProvider\Form\SettingsDataProvider\Modifier\Magento"
                 type="Swissup\Marketplace\Ui\DataProvider\Form\SettingsDataProvider\Modifier\HttpBasicAuth">
        <arguments>
            <argument name="channel" xsi:type="object">Swissup\Marketplace\Model\Channel\Magento</argument>
        </arguments>
    </virtualType>
    <virtualType name="Swissup\Marketplace\Ui\DataProvider\Form\SettingsDataProvider\Modifier\Swissup"
                 type="Swissup\Marketplace\Ui\DataProvider\Form\SettingsDataProvider\Modifier\DomainAndKeys">
        <arguments>
            <argument name="channel" xsi:type="object">Swissup\Marketplace\Model\Channel\Swissup</argument>
        </arguments>
    </virtualType>

    <virtualType name="Swissup\Marketplace\Ui\DataProvider\Form\SettingsDataProvider\Modifier\Pool"
                 type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="magento" xsi:type="array">
                    <item name="class" xsi:type="string">Swissup\Marketplace\Ui\DataProvider\Form\SettingsDataProvider\Modifier\Magento</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
                <item name="swissup" xsi:type="array">
                    <item name="class" xsi:type="string">Swissup\Marketplace\Ui\DataProvider\Form\SettingsDataProvider\Modifier\Swissup</item>
                    <item name="sortOrder" xsi:type="number">20</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Swissup\Marketplace\Ui\DataProvider\Form\SettingsDataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">Swissup\Marketplace\Ui\DataProvider\Form\SettingsDataProvider\Modifier\Pool</argument>
        </arguments>
    </type>
</config>
