<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Swissup_Marketplace::package_index"
            title="Marketplace"
            module="Swissup_Marketplace"
            sortOrder="81"
            parent="Magento_Backend::system_tools"
            action="swissup_marketplace/package/index"
            resource="Swissup_Marketplace::package_index"/>
    </menu>
</config>
