<div class="data-grid-cell-content"
    attr="'data-index': index"
    css="'state-' + $row().state"
>
    <span class="version" attr="title: $col.getTitle($row())">
        <span class="number" text="$col.getVersion($row())"/>
        <span class="time" if="$row().time || $row().remote.time" text="$col.getDate($row())"/>
    </span>

    <!-- ko foreach: {data: $col.getActions($row()), as: '$action'} -->
        <span if="$col.isActionVisible($action)"
            click="$col.getActionHandler($action)"
            text="$action.label"
            attr="class: $action.class, title: $action.title"/>
    <!-- /ko -->
</div>
