.marketplace-command-popup {
    .modal-inner-wrap {
        max-width: 770px;
    }

    .marketplace-command {
        p {
            margin-bottom: 1rem;
        }

        pre {
            padding: 12px;
            margin: 0;
            background: #fafafa;
            border: @list-item__border;
            border-radius: @grid-item__border-radius;
            white-space: pre-wrap;
            word-break: break-all;
        }
    }
}
