.swissup_marketplace-package-index {
    .main-col {
        .admin__data-grid-action-bookmarks,
        .data-grid-filters-actions-wrap,
        .admin__data-grid-filters-current {
            display: none;
        }
    }
}

.channel-switcher {
    .action-menu {
        li .action-menu-item {
            padding: .9rem 1.3rem;
        }
    }
}
.marketplace-no-items {
    text-align: center;
    min-height: 300px;
}
.marketplace-grid-items {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin: 20px -@grid-item__gap / 2;

    .grid-item {
        width: @grid-item__width - @grid-item__gap;
        margin: 0 @grid-item__gap / 2 @grid-item__gap;

        display: flex;
        flex-direction: column;

        background: @grid-item__background;
        padding: @grid-item__padding @grid-item__padding @grid-item__padding - 3;
        border-radius: @grid-item__border-radius;
        position: relative;

        &:not(.noimage) {
            min-height: 365px;
        }

        &.hidden {
            display: none;
        }

        &.busy {
            pointer-events: none;
            opacity: 0.5;

            &::after {
                content: '';
                top: 50%;
                left: 50%;
                margin-left: -20px;
                margin-top: -75px;
                position: absolute;
                z-index: 999;

                width: 40px;
                height: 40px;
                border-radius: 50%;
                padding: 0;
                background: none;
                border: 3px solid #555;
                border-top-color: transparent;
                border-left-color: transparent;
                animation: marketplace-rotate 0.7s linear infinite;
            }
        }

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border-radius: @grid-item__border-radius;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.05),
                        0 20px 50px -12px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
        }

        > div {
            display: block;
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media (min-width: 1440px) {
    .marketplace-grid-items {
        margin: 30px -@grid-item__desktop__gap / 2;
        .grid-item {
            width: @grid-item__desktop__width - @grid-item__desktop__gap;
            margin: 0 @grid-item__desktop__gap / 2 @grid-item__desktop__gap;
        }
    }
}
