.admin__data-grid-action-bookmarks {
    display: none;
}
.marketplace-no-items {
    text-align: center;
    min-height: 300px;
}
.marketplace-grid-items {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin: 20px -@grid-item__gap / 2;

    .grid-item {
        width: @grid-item__width - @grid-item__gap;
        margin: 0 @grid-item__gap / 2 @grid-item__gap;
        min-height: 365px;

        display: flex;
        flex-direction: column;

        background: @grid-item__background;
        padding: @grid-item__padding @grid-item__padding @grid-item__padding - 3;
        border-radius: @grid-item__border-radius;
        position: relative;

        &.hidden {
            display: none;
        }

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border-radius: @grid-item__border-radius;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.05),
                        0 20px 50px -12px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
        }

        > div {
            display: block;
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media (min-width: 1440px) {
    .marketplace-grid-items {
        margin: 30px -@grid-item__desktop__gap / 2;
        .grid-item {
            width: @grid-item__desktop__width - @grid-item__desktop__gap;
            margin: 0 @grid-item__desktop__gap / 2 @grid-item__desktop__gap;
        }
    }
}
